<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Faja Lobi @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/business-casual.css" rel="stylesheet">
</head>

<body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-lower">Faja Lobi</span>
        <span class="site-heading-upper text-primary mb-3">Bed &amp; Breakfast</span>
        <span class="site-heading-upper text-primary mb-3">Surinaams restaurant</span>
        <span class="site-heading-upper text-primary mb-3">Café</span>
    </h1>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="index.html">Faja Lobi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    @{ var activeClass = ViewBag.Title == "Bed & Breakfast" ? "active" : ""; }
                    <li class="nav-item @activeClass px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    @{ activeClass = ViewBag.Title == "B&B" ? "active" : ""; }
                    <li class="nav-item @activeClass px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("BedNBreakfast", "Home")">B&amp;B</a>
                    </li>
                    @{ activeClass = ViewBag.Title == "Café" ? "active" : ""; }
                    <li class="nav-item @activeClass px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Cafe", "Home")">Café</a>
                    </li>
                    @{ activeClass = ViewBag.Title == "Restaurant" ? "active" : ""; }
                    <li class="nav-item @activeClass px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Restaurant", "Home")">Restaurant</a>
                    </li>
                    @{ activeClass = ViewBag.Title == "Bosproject" ? "active" : ""; }
                    <li class="nav-item @activeClass px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Bosproject", "Home")">Bosproject</a>
                    </li>
                    @{ activeClass = ViewBag.Title == "Contact" ? "active" : ""; }
                    <li class="nav-item @activeClass px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; @DateTime.Now.Year - Faja Lobi</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
